body {
    margin: 0;
    background-color: rgb(247, 245, 245);
}

header {
    height: 70px;
    padding: 0;
    margin: 0;
    /*color: rgb(0, 132, 255);*/
    color: gray;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    background-color: rgb(225, 227, 228);
    display: grid;
    align-content: center;
    justify-content: center;
}



